.dropdown-menu>li:hover{
 background-color: #f4f4f4;
}
.bk{
	box-sizing: border-box;
	margin: 10px auto;
	padding: 35px 55px;
	color: #5f5f5f;
	background-color:  #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	text-align: left;
	min-height: 535px;
}
#ShowInf>div{
	margin: 20px auto;
}
.lab{
	display: inline;
}
.lab>span,.Rsex,.Rsex>div{
	display: inline-block !important;
}
.lab>input,
form select{
	width: 260px !important;
	margin: 5px 0;
}
.lab>input.Rbase,
.lab>input.Rbirth{
	width: 232px !important;
}
#CountWage .lab>input{
	width: 240px !important;
}
#CountWage>form{
	margin: 20px auto;
}
.btn-close{
	background-color: #f3f3f305 !important;
    color: #4c565e85 !important;
}
#AddBook>form,
#AddBor>form,
#changebook-form,
#changebor-form{
	width: 860px;
	left: auto;
	margin: 20px 140px;
	padding: 30px 55px;
}
#AddBook>form .form-title-row,
#AddBor>form .form-title-row,
#changebook-form .form-title-row,
#changebor-form .form-title-row{
	margin: 0 auto 5px;
}
#AddBook>form .form-row ,
#AddBor>form .form-row ,
#changebook-form .form-row,
#changebor-form .form-row{
    margin: 2px auto 0;
}
#AddBook>form,
#FindBook>form,
#DeleteBook>form,
#ChangeBook>form,
#AddBor>form,
#FindBor>form,
#DeleteBor>form,
#ChangeBor>form,
#changebook-form,
#CountWage>form,
#bookData,
#borData,
.iName,
iframe{
	display: none;
}

.lab span:nth-of-type(2){
  margin-top: 8px;
  margin-left: 5px;
}
form>div>.col-md-6:nth-of-type(1)>.form-row:nth-of-type(2){
	margin: 1px auto 0!important;
}